@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TodoWebApp</h1>
    <p>This is a todo web app hosted on Azure</p>
    <a href="https://localhost:7135/Todoes">Todoes CRUD Page</a>
    <a href="https://localhost:7135/Items">Items CRUD Page</a>
</div>
