<div class="text-center">
    <h1 class="display-4">Welcome to Azure Managed Identity Demo</h1>
    <a asp-controller="Todoes"
       asp-action="Index">Todoes CRUD Page</a>
     <a asp-controller="Items"
       asp-action="Index">Items CRUD Page</a>    
</div>
